@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* background-color */
    --primary-color: #9FEF00;
    --secondary-color: #0b121f;
    --bg-accent: #A4B1CD;
    --bg-dark: #666;
    --bg-white: #fff;
    --bg-card:#141d2b;

    /* text style  */
    --primary-font: 'Roboto Slab',serif;
    --secondary-font: 'Josefin Sans',sans-serif;
    --primary-text: #9FEF00;
    --secondary-text: #0b121f;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #666;
    --text-light: #ddd;
}
body{
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 0.275rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-light-blue);
}
::-webkit-slider-thumb{
    background: var(--secondary-color);
}
.wrapper{
    padding: 6.25rem 0;
}
.main-btn{
    display: inline-block;
    color: var(--text-black);
    text-align: center;
    padding: 0.75rem 1.375rem;
    font-size: 1rem;
    background: var(--primary-color);
    text-transform: capitalize;
    border-radius: 0.1875rem;
    transition: all 0.3s ease-in-out;
}
.main-btn:hover{
    background-color: #adff08;
}
.fill-btn{
    border: 0.125rem solid var(--bg-white);
    background-color: transparent;

    color: var(--text-white);
}
.fill-btn:hover{
    background-color: var(--bg-white);
    border-color: var(--bg-white);
    color: var(--text-black);
}
h1{
    font-size: 3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h2{
    font-size: 2.875rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h3{
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    color: var(--text-black);
    font-family: var(--secondary-font);
}
h5{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
h6{
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
    color: var(--text-black);
    font-family: var(--secondary-font);
}
p{
    font-size: 1rem;
    color: var(--text-gray);
    line-height: 1.625rem;
}
.card{
    border-radius: 0.625rem;
    background-color: var(--bg-card);
    /* box-shadow: 0.5084rem 1.1419rem 0 rgb(0 0 0 / 8%); */
    padding: 3.75rem 3.125rem 4.6875rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: 0;
}

/* table of content  */

/* 1.general */

/* 2.navbar */

.back-video{
    position: absolute;
    right: 0;
    top: 0px;
    filter: brightness(20%);
}
.header-wrapper .navbar{
    padding: 0.9375rem 0;
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}
.header-wrapper .navbar-toggler,
.header-wrapper .navbar-toggler:focus{
    border: 0;
    color: var(--text-white);
    line-height: 2;
    box-shadow: none;
}
.header-wrapper .nav-item{
    margin: 0.625rem;
}
.header-wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--bg-accent);
    display: inline-block;
    font-family: var(--secondary-font);
}
.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link:focus,
.header-wrapper .nav-item .nav-link.active{
    color: var(--primary-text);
}
.navbar.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(11, 18, 31, 0.9);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
}

/* 5.card section */
.card-wrapper{
    background-color: var(--secondary-color);

}
/* 6.Team */
/* 7.Gallery */
/* 8.Testimonial */
/* 9.Blog */
/* 10.Footer  */

@media screen and (max-width:1199.5px) {
    /* custom css  */
    .card{
        padding: 2.5rem 1.875rem;
    }
    
    /* header  */
    /* about */
    /* sevice */
    
}
@media screen and (max-width:991px){
    /* custom css  */
    .wrapper{
        padding: 3.125rem 0;
    }
    .main-btn{
        font-size: 0.875rem;
    }
    h1{
        font-size: 2.8125rem;
        margin-bottom: 0.625rem;
    }
    h2{
        font-size: 1.875rem;
    }
    h3{
        font-size: 1.5625rem;
    }
    h4{
        font-size: 1.125rem;
    }
    p{
        font-size: 0.875rem;
        line-height: 1.35rem;
    }
    .card{
        padding: 1.875rem 1rem;
    }
    /* 2 navbar  */
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .navbar-nav{
        text-align: center;
    }
    .header-wrapper .nav-item .nav-link{
        margin-top: 0.9375rem;
    }
    .hero-section .container{
        background-color: var(--secondary-color);
    }
    .hero-section{
        max-height: 100%;
    }

}
@media screen and (max-width:767px){
    .main-btn{
        font-size: 0.875rem;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
}
@media screen and (max-width:360px){

}